form{
    border: 2px solid violet;
    padding: 50px;
    width: 900px;
    margin: auto;
    background-color: orchid;
}
#main input{
    width: 820px;
    height: 30px;
    border-radius:  0 35px ;
    background-color: skyblue;
    outline: none;
    border: 2px solid white;
    font-size: 30px;
    padding: 10px 30px;
    color: white;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
#main button{
    margin: 30px 160px 0;
    width: 120px; 
    border-radius: 50px;
    color: white;
    padding: 18px;
    font-size: 30px;
}
h2{
    text-align: center;
    margin-top: 0;
    text-shadow: 2px 2px 1px white;
    color: blue;
    font-size: 45px;
}
#main #submit{
    background-color: green;
    border: 2px solid white;
    padding-left: 10px;
}
#main #reset{
    background-color: orange;
    border: 2px solid white;   
}
#main label{
    font-size: 35px;
    
}